.cell {
    height: 1em;
    width: 1em;
    border: $cell-border;
}
.active{
    background-color: $cell-color;
}
.newborn{
    background-color: paleturquoise;
}

@media (max-width: 768px) {
    .cell {
        height: 0.6em;
        width: 0.6em;
    } 
}
@media (max-width: 485px) {
    .cell{
        height: 0.5em;
        width: 0.5em;
    } 
}