.controls{
    width: 25rem;
    display: flex;
    color: $primary;
    flex-direction: column;
    .labels{
        display: flex;
        flex-direction: row;
        margin: 1rem 0;
        > h3 {
            width: 50%;
            text-align: center;
            > span {
                color: $secondary;
            }
        } 

    }
    .ctrlBtns{
        width: 25rem;
        display: flex;
        justify-content: space-around;
        > button {
            width: 90px;
            height: 30px;
            background-color: $primary;
            border: $secondary;
            color: $secondary;
            cursor: pointer;
            &:hover {
                background-color: $secondary;
                color: $primary;
            }
        }
    }
}